brotli==1.1.0
ConfigParser==7.0.0
cryptography==42.0.8
Cython==3.0.10
dl==0.1.0
docutils==0.21.2
Flask==3.0.3
Flask_Cors==4.0.1
groq==0.8.0
HTMLParser==0.0.2
importlib_metadata==7.1.0
keyring==25.2.1
lockfile==0.12.2
lxml==5.2.2
nbformat==5.10.4
numpy==1.26.4
ordereddict==1.1
protobuf==5.27.1
pyOpenSSL==24.1.0
pyOpenSSL==24.1.0
python-dotenv==1.0.1
thread==2.0.3
toml==0.10.2
tornado==6.4.1
xmlrpclib==1.0.1
zipp==3.19.2
IPython
mercury